.card {
  background: linear-gradient(180deg, #7857ff, #2e2be9);
  color: white;
  padding: 40px 30px;
  border-radius: 30px;
  text-align: center;
  width: 50%;
}

.card h3 {
  opacity: 0.8;
  font-weight: 600;
}

.circle {
  background: linear-gradient(180deg, #4e21ca, #2421ca00);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle h1 {
  font-size: 50px;
  font-weight: 800;
}

.circle p {
  opacity: 0.6;
}

.card h2 {
  margin-top: 10px;
  font-size: 24px;
}

.text {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.7;
  padding: 0 10px;
}